.scollBar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: gray transparent; /* Firefox */
  }
  
  /* For WebKit browsers (Chrome, Safari, etc.) */
  .scollBar::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    height: 8px; /* Adjust the height of the scrollbar */
  }
  
  .scollBar::-webkit-scrollbar-track {
    background: transparent; /* Track background color */
  }
  
  .scollBar::-webkit-scrollbar-thumb {
    background-color: gray; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
  }
  